<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="search.css">
</head>
<body>
<h1 >学生情報管理システム</h1>





        
		<div class="menu">
        	<ul id="navmenu">
                   <li><a href="#">IT学科 </a>
 					      <ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>

            		<li><a href="#">ゲームソフト学科</a>
                			<ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>

            		<li><a href="#">電子工学 </a>
							<ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>

            		<li><a href="#">情報ビジネス </a>
                			<ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>

            		<li><a href="#">建築 </a>
            				<ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>

            		<li><a href="#">インダストリアルデザイン</a>
 						<ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>

            		<li><a href="#">グラフィックデザイン</a>
 						<ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>


            		<li><a href="#">3DCGアニメーション</a>
                		<ul class="sub1">
                                <li><a href="#">１年生</a>
										<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    			<li><a href="#">2年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>

                    			<li><a href="#">3年生</a>
                    					<ul class="sub2">
                    						<li><a href="#">1組</a></li>
                    						<li><a href="#">2組</a></li>
                    						<li><a href="#">3組</a></li>
                    					</ul>
                    			</li>
                    
               				 </ul>
            		</li>

           </ul>
</div>
<div align="center" class="block">

</div>

<h2>神戸電子専門学校</h2>
 
 </body>
 </html>