.row-eq-height{
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-wrap: wrap;
}

#form{
	border: 1px solid #555;
	max-height: 500px;
	max-width: 500px;
	margin:30px auto;
	padding: 10px;
	background-color: #ffffff;
}